html {
  background-color: #faf9f9;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #27292a;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #fab954;
  border-radius: 10px;
}
.MuiCardMedia-root {
  max-height: 250px;
  height: 250px;
}
.MuiCardContent-root {
  height: 150px;
}
.css-18y360j-MuiStack-root {
  height: 32px;
  margin: 10px;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  overflow: visible !important;
}
